 .logo {
  font-family: AvenirNext-Bold;
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 1.71px;
  line-height: 56px;
  margin: 0;
 }

 .nav-bar {
   background-color: #181818;
   height: 56px;
   width: 100%;
   display: block;
 }

 .font {
   font-family: AvenirNext-Bold;
 }


/*
 * react-calendar-heatmap styles
 *
 * All of the styles in this file are optional and configurable!
 * The github and gitlab color scales are provided for reference.
 */

.react-calendar-heatmap text {
  font-size: 10px;
  fill: #FFF;
}

.react-calendar-heatmap rect:hover {
  stroke: #555;
  stroke-width: 1px;
}

/*
 * Default color scale
 */

.react-calendar-heatmap .color-empty {
  fill: #eeeeee;
}

.react-calendar-heatmap .color-filled {
  fill: #8cc665;
}

/*
 * Github color scale
 */

.react-calendar-heatmap .color-github-0 {
  fill: #eeeeee;
}
.react-calendar-heatmap .color-github-1 {
  fill: #d6e685;
}
.react-calendar-heatmap .color-github-2 {
  fill: #8cc665;
}
.react-calendar-heatmap .color-github-3 {
  fill: #44a340;
}
.react-calendar-heatmap .color-github-4 {
  fill: #1e6823;
}

/*
 * Gitlab color scale
 */

.react-calendar-heatmap .color-gitlab-0 {
  fill: #ededed;
}
.react-calendar-heatmap .color-gitlab-1 {
  fill: #acd5f2;
}
.react-calendar-heatmap .color-gitlab-2 {
  fill: #7fa8d1;
}
.react-calendar-heatmap .color-gitlab-3 {
  fill: #49729b;
}
.react-calendar-heatmap .color-gitlab-4 {
  fill: #254e77;
}


.home-cursor-container {
  position: absolute;
  width: 90%;
  left: 50%;
  bottom: 34px;
  transform: translate(-50%, 0);
  border: white;
  height: 48px;
  padding-bottom: 4px;
}

.home-cursor-text {
  font-family: AvenirNext-Regular;
  font-size: 48px;
  color: #FFFFFF;
  letter-spacing: 0;
}

.home-suggestion-text {
  position: absolute;
  right: 23px;
  bottom: -6px;
  font-family: AvenirNext-Regular;
  font-size: 48px;
  color: rgba(255,255,255,0.14);
  letter-spacing: 0;
}








