body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

html {
  background-color: #181818;
  color: white;
}

.nav-bar {
  -webkit-app-region: drag;
}

.logo {
  text-decoration: none;
}

.page-header {
  font-family: AvenirNext-Regular;
  font-size: 18px;
  letter-spacing: 0;
  font-weight: 200;
}


.form-label {
  font-family: AvenirNext-Regular;
  font-size: 14px;
  letter-spacing: 0;
}

.input {
  border: 1px solid #000000;
}

.button {
  width: 100%;
  height: 46px;
  /* Rectangle 2: */
  background: #000000;
  border: 1px solid #FFFFFF;
  border-radius: 19px;
  /* SUBMIT: */
  font-family: AvenirNext-Bold;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 1.2px;
}

.home-list {
  border-bottom: 1px solid white;
}

.select-option:hover {
  background-color: black;
}

.select-option {
    border-bottom: 1px solid rgba(255,255,255,0.10);
}

.option-container:last-child {
  border-bottom: none;
}

.drop-carrot {
  background: url('../public/drop-down.png') no-repeat center center;
  height: 4.41px;
  width: 4.41px;
  background-size: 4.41px 4.41px;
  cursor: pointer;
  display: inline-block;
  margin-left: 4px;
  position: relative;
  bottom: 3px;
}